<div class="master">
  <div class="container" *ngIf="person else template">
    <div class="item item1">
      <div class="card__container__item1">
        <div class="item1__container">
          <img class="item1__image" src="./../../assets/images/image-daniel.jpg">
          <span class="item1__span__name">
            Daniel Clifford<br>
            <span class="item1__span__graduate">Verified Graduate</span>
          </span>
        </div>
        <span class="item1__span__title">{{person?.title}}</span>
        <span class="item1__span__description">{{person?.description}}</span>
      </div>
    </div>
    <div class="item item2">
      <div class="card__container__item2">
        <div class="item2__container">
          <img class="item2__image" src="./../../assets/images/image-jonathan.jpg">
          <span class="item2__span__name">
            Jonathan Walters<br>
            <span class="item2__span__graduate">Verified Graduate</span>
          </span>
        </div>
        <span class="item2__span__title">{{person?.title1}}</span>
        <span class="item2__span__description">{{person?.description1}}</span>
      </div>
    </div>
    <div class="item item3">
      <div class="card__container__item3">
        <div class="item3__container">
          <img class="item3__image" src="./../../assets/images/image-kira.jpg">
          <span class="item3__span__name">
            Kira Whittle<br>
            <span class="item3__span__graduate">Verified Graduate</span>
          </span>
        </div>
        <span class="item3__span__title">{{person?.title2}}</span>
        <span class="item3__span__description">{{person?.description2}}</span>
      </div>
    </div>
    <div class="item item4">
      <div class="card__container__item4">
        <div class="item4__container">
          <img class="item4__image" src="./../../assets/images/image-jeanette.jpg">
          <span class="item4__span__name">
            Jeanette Harmon<br>
            <span class="item4__span__graduate">Verified Graduate</span>
          </span>
        </div>
        <span class="item4__span__title">{{person?.title3}}</span>
        <span class="item4__span__description">{{person?.description3}}</span>
      </div>
    </div>
    <div class="item item5">
      <div class="card__container__item5">
        <div class="item5__container">
          <img class="item5__image" src="./../../assets/images/image-patrick.jpg">
          <span class="item5__span__name">
            Patrick Abrams<br>
            <span class="item5__span__graduate">Verified Graduate</span>
          </span>
        </div>
        <span class="item5__span__title">{{person?.title4}}</span>
        <span class="item5__span__description">{{person?.description4}}</span>
      </div>
    </div>
  </div>
</div>
<div style="height: 50px;">

</div>


<ng-template #template>
  <app-loading></app-loading>
</ng-template>
